	<div class="footer">
		<div class="container">
			<h4>Subscribe to <span>Newsletter</span></h4>
			<form action="#" method="post">
				<input type="email" name="Email" placeholder="Enter Your Email..." required>
				<input type="submit" value="Send">
			</form>
			<div class="agile_footer_copy">
				<div class="agile_footer_grids">
					<div class="col-md-4 agile_footer_grid">
						<h3>About Us</h3>
						<p>We are a group of people trying to help make Singapore a smarter nation.<span>We believe that smart health is part
							of making Singapore a smarter nation.</span></p>
					</div>
					<div class="col-md-4 agile_footer_grid">
						<h3>Contact Info</h3>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i>Ang Mo Kio, <span>Singapore.</span></li>
							<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@example.com">Med2U@example.com</a></li>
							<li><i class="fa fa-phone" aria-hidden="true"></i>+65423424</li>
						</ul>
					</div>
					<div class="col-md-4 agile_footer_grid agile_footer_grid1">
						<h3>Navigation</h3>
						<ul>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="index">Home</a></li>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="appointment">Appointment</a></li>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="about">About</a></li>
							<li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="agileits_copy_right_social">
				<div class="col-md-6 agileits_s_copy_right">
					<p>&copy; 2017 Med2u. All rights reserved | </a></p>
				</div>
				<div class="col-md-6 agile_copy_right">
					<ul class="agileits_social_list">
								<li><a href="#" class="agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
							</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
