{% extends 'layout.html' %}
{% block title %}HFS | Home{% endblock %}
{% block nav %}
    <li class="m_nav_item menu__item " id="m_nav_item_1"> <a href="index" class="menu__link"> Home </a></li>
    <li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="about" class="menu__link"> About Us </a> </li>
    <li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="contact" class="menu__link"> Contact </a> </li>
    <li class="m_nav_item menu__item menu__item--current" id="moble_nav_item_3 dropdown"> <a href="#" class="menu__link dropdown-toggle" data-toggle="dropdown">Features  <b class="caret"></b></a>
        <ul class="dropdown-menu agile_short_dropdown">
            <li><a href="MedicalRecords">Medical report</a></li>
            <li><a href="appointment">Book an appointment</a></li>
            <li><a href="Calories">Diet tracker</a></li>
            <li><a href="hospital_info">Nearby hospitals</a></li>
        </ul>
    </li>
{% endblock %}
{% block body %}
    {% from "includes/_formhelper.html" import render_field %}

	<div class="item-content">
	<div class="banner3 jarallax">
		<div class="container">
		</div>
	</div>
    </div>

	<div class="services-breadcrumb">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a><i>|</i></li>
				<li>Appointment</li>
			</ul>
		</div>
	</div>
<!-- //banner1 -->
<!-- icons -->
	<div class="banner-bottom" id="about">
		<div class="container">
					<h2 class="heade_tittle_agile">Appointment</h2>
			        <p class="sub_t_agileits">Book an appointment</p>
  <table class="table table-hover">
  <thead>
    <tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
  </thead>
  <tbody>
  
	<tr>
		<td bgcolor="#FF0000">1 September</td>
		<td>2 September</td>
		<td>3 September</td>
		<td>4 September</td>
		<td>5 September</td>
		<td>6 September</td>
		<td>7 September</td>
	</tr>
	<tr>
		<td>8 September</td>
		<td>9 September</td>
		<td>10 September</td>
		<td>11 September</td>
		<td>12 September</td>
		<td>13 September</td>
		<td>14 September</td>
	</tr>
	<tr>
		<td>15 September</td>
		<td>16 September</td>
		<td>17 September</td>
		<td>18 September</td>
		<td>19 September</td>
		<td>20 September</td>
		<td>21 September</td>
	</tr>
	<tr>
		<td>22 September</td>
		<td>23 September</td>
		<td>24 September</td>
		<td>25 September</td>
		<td>26 September</td>
		<td>27 September</td>
		<td>28 September</td>
	</tr>
	<tr>
		<td>29 September</td>
		<td>30 September</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
  </tbody>
  </table>
					<div class="book-appointment">
						<h4>Make an appointment</h4>
								<form action="#" method="post">
								<div class="left-agileits-s same">
								<div class="gaps">
									{{ render_field(form.PatientName) }}
								</div>
									<div class="gaps">	
									{{ render_field(form.PhoneNumber) }}
									</div>
									<div class="gaps">
									{{ render_field(form.Email) }}
									</div>	
									<div class="gaps">
									{{ render_field(form.Symptoms) }}
									</div>
								</div>
								<div class="right-agileinfo same">
								<div class="gaps">

									{{ render_field(form.Date) }} {this.value = 'dd/mm/yyyy';}" required>
								</div>
								<div class="gaps">
								    {{ render_field(form.PreferedDoc, class_="option") }}
								</div>
								<div class="gaps">
									{{ render_field(form.Gender) }}
								</div>
								<div class="gaps">
								    {{ render_field(form.Time, class_="option") }}
								</div>
								</div>
								<div class="clearfix"></div>
											  <input type="submit" value="Make an Appointment">
								</form>
							</div>
					   </div>

		</div>
	</div>
<!-- icons -->






 <!-- js -->


<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Health Plus
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<img src="images/g9.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- start-smoth-scrolling -->

<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->

<!-- //here ends scrolling icon -->
{% endblock %}
